<a href="https://colab.research.google.com/github/alekhyabobba/Pyspark-with-python/blob/main/Groupby_and_aggregate_functions_pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Group by and aggregate function

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 48 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 52.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=c2dda96e38e0a0a579f2045c4f882b9aa615b4c9eddef270652a750a332d677e
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Aggregate').getOrCreate()

In [5]:
spark

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
pyspark_df = spark.read.csv('/content/drive/My Drive/test3.csv',header = True,inferSchema=True)

In [11]:
pyspark_df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [10]:
pyspark_df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [12]:
#Group by to find maximum salary
pyspark_df.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [13]:
#Finding average salary of each person
pyspark_df.groupBy('Name').avg().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

In [14]:
### Groupby Departmernts  which gives maximum salary
pyspark_df.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [15]:
pyspark_df.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [16]:
pyspark_df.groupBy('Departments').avg().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [17]:
pyspark_df.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [19]:
pyspark_df.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [20]:
pyspark_df1 = pyspark_df.withColumn('SalaryInc',pyspark_df['Salary']+1500)

In [21]:
pyspark_df1.show()

+---------+------------+------+---------+
|     Name| Departments|salary|SalaryInc|
+---------+------------+------+---------+
|    Krish|Data Science| 10000|    11500|
|    Krish|         IOT|  5000|     6500|
|   Mahesh|    Big Data|  4000|     5500|
|    Krish|    Big Data|  4000|     5500|
|   Mahesh|Data Science|  3000|     4500|
|Sudhanshu|Data Science| 20000|    21500|
|Sudhanshu|         IOT| 10000|    11500|
|Sudhanshu|    Big Data|  5000|     6500|
|    Sunny|Data Science| 10000|    11500|
|    Sunny|    Big Data|  2000|     3500|
+---------+------------+------+---------+

In [22]:
pyspark_df1.groupBy('Name').sum().show()

+---------+-----------+--------------+
|     Name|sum(salary)|sum(SalaryInc)|
+---------+-----------+--------------+
|Sudhanshu|      35000|         39500|
|    Sunny|      12000|         15000|
|    Krish|      19000|         23500|
|   Mahesh|       7000|         10000|
+---------+-----------+--------------+